h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  background-color: #c5cbe3;
  padding: 20px;
  margin: 0%;
}

body {
  margin-left: 20%;
  margin-right: 20%;
  background-color: aliceblue;
}

form {
  margin-left: 200px;
  margin-right: 150px;
}

input[type="text"]:focus {
  background-color: lightgray;
}
input[type="tel"]:focus {
  background-color: lightgray;
}
input[type="email"]:focus {
  background-color: lightgray;
}
input[type="number"]:focus {
  background-color: lightgray;
}

select {
  width: 400px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  margin-top: 5px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"] {
  width: 400px;
  padding: 12px 20px;
  margin: 8px 5px;
  box-sizing: border-box;
}

input[type="date"],
input[type="time"] {
  width: 150px;
  padding: 10px 10px;
  margin: 8px 5px;
  box-sizing: border-box;
}

input[type="button"],
input[type="submit"] {
  background-color: #4e4e4e;
  border: none;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  margin-left: 30%;
  margin-right: 40%;
  margin-top: 5%;
  cursor: pointer;
  width: 20%;
}

.home {
  background-color: #4e4e4e;
  border: none;
  color: white;
  padding: 5px 5px;
  text-decoration: none;
  margin-left: 41%;
  margin-right: 20%;
  margin-top: 5%;
  cursor: pointer;
  width: 10%;
}

/* {
    box-sizing: border-box;
  }
  
  body {
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color:aliceblue;
  }
  
  h1 {
    background-color: #C5CBE3;
    padding: 20px;
    margin-bottom: 0;
  }
  
  p {
    margin-top: 0;
    background-color: rgb(196, 196, 196);
    padding: 10px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background-color: lightgray;
  }
  
  input[type="text"]:focus {
    background-color: lightgray;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  input[type="submit"],
  .home {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-weight: bold;
  }
  
  input[type="submit"] {
    background-color: black;
    color: white;
    border: 2px solid #ddd;
  }
  
  .home {
    padding: 14px 20px;
    background-color: black;
    color: white;
    border: 2px solid #ddd;
  }
  
  input[type="submit"]:hover {
    opacity: 1;
    color: black;
    background-color: white;
  }
  
  .home:hover {
    opacity: 1;
    color: black;
    background-color: white;
  }*/
